<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
+ function($) {
    'use strict';

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
        console.log(files)
    }

    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);
</script>
<style>
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}
</style>

<body>

	<div class="container-fluid" style="margin-top: 1%;">
		<div class="col-xs-5 col-xs-offset-3">
			<div class="panel panel-default">
				<!-- panel heading -->
				<div class="panel-heading">
					<strong>Upload Files</strong>
				</div>

				<!--panel-body-->
				<div class="panel-body">
					<h4>Select files from your computer</h4>
					<form action="" method="post" enctype="multipart/form-data"
						id="js-upload-form">
						<div class="form-inline">
							<div class="form-group">
								<input type="file" name="files[]" id="js-upload-files" multiple>
							</div>
							<button type="submit" class="btn btn-sm btn-primary"
								id="js-upload-submit">Upload files</button>
						</div>
					</form>

					<!-- Drop Zone -->
					<h4>Or drag and drop files below</h4>
					<div class="upload-drop-zone" id="drop-zone">Just drag and
						drop files here</div>

				</div>
			</div>
		</div>
		<div class="col-xs-5 col-xs-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<strong>Grades</strong>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control"
									placeholder="Tenant number">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control" placeholder="Score">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" class="form-control" placeholder="Grade">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="5" id="comment"
									placeholder="Comments"></textarea>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="checkbox">
									<label><input type="checkbox">Complete</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="checkbox">
									<label><input type="checkbox">Publish Grades</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>